/* nav{
    grid-area: n;
    background-color: #fd8b8b;
}
.item a {
    color:white;
    text-decoration: none;
}

.item a.activeLink{
    color: gold;
} */
.item a{
color: #FFFFFF;
font-family: Lato;
font-size: 34px;
line-height: 44px;
width: 227px;
text-align: left;
text-decoration: none;
}

nav{
  background-color: #13CE66;
  width: 264px;
  height: 904px;
}
.item a.activeLink{
    color:gold;
}